@model List<TheatreApp.Web.Models.Theatre>

@{
    ViewData["Title"] = "Index";
}

<h1>Theatre Shows</h1>

<div class="mb-4">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</div>


<div class="container">
    @for (int i = 0; i < Model.Count; i += 4)
    {
        <div class="row">
            @for (int j = i; j < i + 4 && j < Model.Count; j++)
            {
                var item = Model[j];
                <div class="col-md-3">
                    <div class="card mb-4">
                        <img src="@item.ImageUrl" class="card-img-top" style="height: 260px;" alt="Theatre Show Image">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-text">@item.Place-@item.ShowDate.ToString()</h6>
                            <p class="card-text">@item.Description</p>
                            <div class="btn-group" role="group" aria-label="Concert Actions">

                                <span><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1">Edit</a></span>
                                <span><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info m-1">Details</a></span>
                                <span><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Delete</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>